html, body {
	border: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body, input, select, button {
	font: 1em '微軟正黑體', sans-serif;
	color: #000;
}

#bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#canvas {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

.hud {
	position: absolute;
	right: 30px;
	width: 400px; height: 36px;
	font-size: 34px;
	text-align: right;
	margin: 0; padding: 0;
}

#score {
	top: 10px;
	color: #300;
	text-shadow: 0 0 10px #300;
	-ms-text-shadow: 0 0 10px #300;
}

#wind {
	top: 50px;
	color: #030;
	text-shadow: 0 0 10px #030;
	-ms-text-shadow: 0 0 10px #030;
}

#bucketSize {
	top: 90px;
	color: #003;
	text-shadow: 0 0 10px #003;
	-ms-text-shadow: 0 0 10px #003;
}

#bucket, #ball {
	width: 512px;
	height: 512px;
}

button {
	position: absolute;
	width: 36px; height: 24px;
	text-align: center;
	font-size: 0.92em;
}

#yplus {
	bottom: 125px;
	left: 5px;
}

#yminus {
	bottom: 100px;
	left: 5px;
}

#splus {
	bottom: 5px;
	left: 160px;
}

#sminus {
	bottom: 5px;
	left: 120px;
}

#tplus {
	bottom: 70px;
	left: 5px;
}

#tminus {
	bottom: 5px;
	left: 80px;
}

#go {
	bottom: 75px;
	left: 90px;
	font-size: 2em;
	font-weight: bold;
	height: 40px;
	width: 60px;
}

#arrow {
	position: absolute;
	bottom: 5px; left: 5px;
}
