html, body {
	border: none;
	margin: none;
	padding: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

body, input, select, button {
	font: 1em sans-serif;
	color: #000;
}

#bg {
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
}

#canvas {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}

.hud {
	position: absolute;
	right: 30px;
	width: 400px; height: 36px;
	font-size: 34px;
	text-align: right;
	margin: 0; padding: 0;
}

#score {
	top: 10px;
	text-shadow: 0 0 10px #300;
}

#wind {
	top: 50px;
	text-shadow: 0 0 10px #030;
}

#bucketSize {
	top: 90px;
	text-shadow: 0 0 10px #003;
}

#bucket, #ball {
	display: none;
	width: 512px;
	height: 512px;
}

button {
	position: absolute;
	width: 36px; height: 24px;
	text-align: center;
}

#yplus {
	bottom: 75px;
	left: 5px;
}

#yminus {
	bottom: 50px;
	left: 5px;
}

#splus {
	bottom: 5px;
	left: 80px;
}

#sminus {
	bottom: 5px;
	left: 50px;
}

#tplus {
	bottom: 30px;
	left: 80px;
}

#tminus {
	bottom: 30px;
	left: 50px;
}

#go {
	bottom: 75px;
	left: 80px;
}
